In [1]:
import pandas as pd

We group professions in 7 different groups as below:

In [2]:
wirtschaft = ["versicherungsdirektor", "wirtschaftsberater", "verwaltungswissenschaftlerin", "spediteur", "bankfachwirtin", "verwaltungsfachwirtin", "einzelhändlerin", "dipl.-wirtschaftler", "kaufmännischer", "hoteliere", "diplom-ökonom", "ing.-ökonomin", "fabrikdirektor", "bankier", "wirtschaftssachverständiger", "finanzbeamtin", "wirtschaftler", "handelsfachwirtin", "bankfachwirt", "unternehmens-analyst", "ökonom", "finanzwirt", "finanzfachwirt", "diplom-ökonomin", "wirtschaftswissenschaftler", "verwaltungswirt", "finanzwirtin,finanzanlagenfachmann", "wirtschaftsprüfer", "buchhalter", "sekretärin", "selbständig", "kauffrau", "buchhändler", "bankkauffrau", "steuerberater", "unternehmensberater", "dipl.-verwaltungswirt", "betriebswirt", "dipl.-ökonom", "volkswirt", "angestellte", "industriekauffrau", "prokurist", "dipl.-betriebswirt", "kaufmann", "dipl.-volkswirt", "fabrikant", "geschäftsführer", "kaufmännischer angestellter", "unternehmer"]

In [3]:
recht = ["rechtswissenschaftler", "professor für staatsrecht", "rechtsreferendar", "syndikus", "richter", "anwalt", "rechtsanwältin", "notar", "jurist"]

In [4]:
naturwissenschaft = ["chemielaborant", "it-berater", "internist", "chemie", "statistiker", "software-entwickler", "physikalisch-technische assistentin", "biologie", "biotechnologin", "chemiefacharbeiterin", "geologin", "geograph", "chemielaborantin", "geologe", "krankenschwester", "informatiker", "biologin", "biologe", "architekt", "mathematiker", "apotheker", "physiker", "chemiker", "ärztin", "arzt", "dipl.-ingenieur", "ingenieur", "ing."]

In [5]:
gesellschaftswissenschaft = ["schulleiter", "oberschulrat", "philosophin", "realschuldirektor", "pädagoge", "erzieher", "sozialpädagoge", "gymnasialdirektor", "philologe", "kommunikationswissenschaftler", "hauptschuldirektor", "sozialökonom", "bibliothekarin", "sozialwirt", "realschulrektor", "politikwissenschaftliche doktorandin", "kulturwissenschaftler", "islamwissenschaftlerin", "medienwissenschaftlerin", "soziologin", "erziehungswissenschaftlerin", "literaturwissenschaftler", "politolog", "kulturwissenschaftlerin", "studienrätin", "sozialarbeiter", "erzieherin", "soziologe", "politologe", "sozialwissenschaftler", "historiker", "pädagogin", "studienrat", "studiendirektor", "politikwissenschaftler", "lehrer"]

In [6]:
agrar = ["agrarwissenschaftler", "winzer", "forstmeister", "agrarwissenschaftlerin", "landwirt", "bauer", "bäuerin", "forstwirt"]

In [7]:
journalismus = ["auslandskorrespondentin", "verlagsleiter", "autor", "publizist", "schriftsetzer", "schriftsteller", "verleger", "journalist", "redakteur"]

In [8]:
handwerk = ["gärtnermeister", "buchdrucker", "glasermeister", "baumeister", "schweißer", "karosseriebaumeister", "tapeziermeister", "elektriker", "glasschmelzer", "fliesenleger", "elektroschweißer", "klempner", "werkzeugdreher", "elektromonteur", "hochdruckschweißer", "gärtner", "modellschreiner", "optiker", "konditormeister", "druckermeister", "müllermeister", "bäcker", "schreiner", "arbeiter", "fotografenmeister", "schmiedemeister", "installateur", "handwerksmeister", "goldschmied", "zimmermann", "zimmermeister", "feinoptiker", "zerspanungsfacharbeiter", "elektrotechnikerin", "friseurmeister", "fleischermeister", "maurer", "werkmeister", "lokomotivführer", "mechaniker", "schuhmachermeister", "elektromeister", "maschinenbaumeister", "schreinermeister", "malermeister", "werkzeugmacher", "bergmann", "bäckermeister", "schlosser"]

In [9]:
professions = {
    'Economy': wirtschaft,
    'Law': recht,
    'Natural Science': naturwissenschaft,
    'Social Science': gesellschaftswissenschaft,
    'Agriculture': agrar,
    'Journalism': journalismus,
    'Craft': handwerk,
}

In [10]:
politicians = pd.read_feather('politicians.feather')

Here, we get profession from politicians table, search it on the groups if it is not matched then we set it to 'No Match', and if it is matched two more than one group then it is set to 'Ambiguous'.

In [11]:
def get_profession(unclean_profession):
    if unclean_profession is None: return 'None'
    cleaned_profession = set()
    for profession in professions:
        for p in professions[profession]:
            if p in unclean_profession.lower():
                cleaned_profession.add(profession)
    if len(cleaned_profession) == 0:
        return 'No Match'
    if len(cleaned_profession) == 1:
        return list(cleaned_profession)[0]
    return 'Ambiguous'

In [12]:
politicians['cleanedProfession'] = politicians.apply(lambda x: get_profession(x.profession), axis=1)

In [13]:
politicians

,id,firstName,lastName,birthPlace,birthCountry,birthDate,deathDate,gender,profession,aristocracy,academicTitle,cleanedProfession
0,11000001,Manfred,Abelein,Stuttgart,Deutschland,1930-10-20,2008-01-17,männlich,"Rechtsanwalt, Wirtschaftsprüfer, Universitätsp...",None,Prof. Dr.,Ambiguous
1,11000002,Ernst,Achenbach,Siegen,Deutschland,1909-04-09,1991-12-02,männlich,Rechtsanwalt und Notar,None,Dr.,Law
2,11000003,Annemarie,Ackermann,Parabutsch,Jugoslawien,1913-05-26,1994-02-18,weiblich,Hilfsreferentin,None,None,No Match
3,11000004,Else,Ackermann,Berlin,Deutschland,1933-11-06,2019-09-14,weiblich,Ärztin,None,Dr.,Natural Science
4,11000005,Ulrich,Adam,"Teterow, Kr. Teterow, Bezirk Neubrandenburg",Deutschland,1950-06-09,None,männlich,"Mathematiker, Geschäftsführer",None,None,Ambiguous
...,...,...,...,...,...,...,...,...,...,...,...,...
4097,11004971,Manuela,Schwesig,None,None,None,None,None,None,None,None,None
4098,11004972,Manfred,Stolpe,None,None,None,None,None,None,None,None,None
4099,11004973,Johanna,Wanka,None,None,None,None,None,None,None,None,None
4100,11004974,Ludger,Westrick,None,None,None,None,None,None,None,None,None
4101,-1,Not found,,None,None,None,None,None,None,None,None,None

One we set 'cleanedProfession' in politicians table, we save it to be used in next step.

In [14]:
politicians.to_feather('politicians_cleaned_eng.feather')

Let's see how many politicians belong to each of the profession group.

In [15]:
politicians.cleanedProfession.value_counts(dropna=False)

No Match           960
Economy            938
Law                547
Social Science     438
Natural Science    403
Ambiguous          268
Agriculture        193
Craft              179
Journalism         160
None                16
Name: cleanedProfession, dtype: int64